.login {
    display: flex;
    flex-wrap: wrap;

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 100vh;
        position: relative;


        &_loginBtn, &_inputName, &_inputPassword {
            width: 50%;
            height: 5%;
            border: none;
        }

        &_inputName, &_inputPassword {
            border-bottom: 0.5px solid var(--Grey, #C0C0C0);
            margin-bottom: 5%;
            padding: 10px 5px;
        }

        &_eyeIcon {
            position: absolute;
            top: 37%;
            left: 71%;
        }

        &_loginBtn {
            border-radius: 80px;
            background: var(--Grey, #C0C0C0);
            padding: 10px;
            height: 8%;
            font-size: 16px;
            font-weight: 700;
            margin-top: 3%;
            color: #fff;
            cursor: pointer;

            &:hover {
                background-color: #5458EA;
            }
        }

        &_signupLink {
            margin-top: 15%;
            color: #5458EA;
            font-size: 14px;
            text-decoration: none;
        }
    }
}