.profile {
  display: flex;
  gap: 5%;
  height: 100vh;

  &__rightBlock {
    background: var(--Background, #f7f6f9);
    width: 100%;
    height: 100%;
    padding-top: 24px;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
  }

  &__profileBlock {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

    &__photoLink {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    &__input {
      border: none;
      border-radius: 0%;
      padding: 0.5rem 1rem;

    }

    &__modalTitle {
      text-align: center;
      width: 100%;
      display: block;
    }

    &__modalIcon {
      width: 25%;
      height: 25%;
      margin-left: 38%;
    }
  }
}
